.App {
  text-align: center;
}

*{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width:5px;  /* width of the entire scrollbar */
  height:10px;
}

::-webkit-scrollbar-track {
  background: rgba(0,0, 0, 0.02);  /* color of the tracking area */
}

::-webkit-scrollbar-thumb {

  background-color: lightseagreen;    /* color of the scroll thumb */
  border-radius: 5px;       /* roundness of the scroll thumb */
  border: 3px solid transparent;  /* creates padding around scroll thumb */
}

